.primary-button {
  color: white;
  background-color: #333;
}

.secondary-button {
  color: white;
  background-color: rgb(110, 13, 13);
}

.button {
  @apply py-2 px-6 rounded shadow border 2xl:shadow-lg;
}

.primary {
  @apply text-blue-900 bg-blue-400 border-blue-300;
  @apply bg-gradient-to-b from-blue-400 to-blue-500;
  @apply focus:text-white focus:ring-2 focus:ring-inset focus:ring-blue-200;
}

.secondary {
  @apply text-red-900 bg-red-400 border-red-300;
  @apply bg-gradient-to-b from-red-400 to-red-500;
  @apply focus:text-white focus:ring-2 focus:ring-inset focus:ring-red-200;
}

.outline {
  @apply text-white border-white bg-transparent;
  @apply focus:text-white focus:ring-2 focus:ring-inset focus:ring-white;
}
